*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
}
.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    box-sizing: content-box;
    border: 3px solid black;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    margin: 2.5rem;
}

.yellow{
    background-color: yellow;

}

.red{
    background-color: red;

}

.green{
    background-color: rgb(21, 208, 21);

}
.blue{
    background-color: blue;

}
.flash{
    background-color: #ffff;
}
.userflash{
    background-color: green;
}
